$background-color:rgb(221, 255, 187);
$color-claro-1:rgb(199, 233, 176);
$color-claro-2:rgb(179, 201, 156);
$color-claro-3:rgb(164, 188, 146);
$tipografias: 'Varela Round', sans-serif;

/**
rgb(221, 255, 187)
rgb(199, 233, 176)
rgb(179, 201, 156)
rgb(164, 188, 146)
**/