header{
    .seccion-redes-header{
        background-color: $color-claro-1;
        padding: .3125rem 1.5625rem;
        h3{
            text-align: center;
        }
        div{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 20px;
        }
    }
}

.seccion-titulo-header{
    width: 100%;
    padding: 1.25rem;
    border: .125rem solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "search logo titulo "
    ;
    justify-content: center;
    justify-items: center;
    align-items: center;
    .buscador{
        width: 100%;
        grid-area: search;
        display: flex;
        justify-content: center;
        
        input{
            width: 31.25rem;
            height: 3.125rem;
            padding: .625rem;
            border: .125rem solid black;
            font-size: 20px;
        }
        button{
            height: 3.125rem;
            padding: .625rem;
            border: .125rem solid black;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .logo-header{
        grid-area: logo;
    }
    h2{
        text-align: center;
        grid-area: titulo;
        font-size: 6.25rem;
    }
}