.main-index{
    padding: 1.25rem;
    h1{
        text-align: center;
        margin-bottom: 1.875rem;
    }
}

.seccion-destacados{
    @include grid (repeat(3,1fr),none,auto,"index1 index2 index3", center,center,none,none);
    justify-items: center;
    .card-index{
        @include grid(repeat(2,1fr),none,auto,"img contenido",center,center,none,.625rem);
        align-items: center;
        background-color: $color-claro-3;
        width: 33.125rem;
        height: 22.5rem;
        border: .125rem solid black;
        border-radius: 1.25rem;
        overflow: hidden;
        .card-img-index{
            grid-area: img;
            img{
                width: 100%;
            }
        }
        .card-text-index{
            grid-area: contenido;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: .3125rem;
            button{
                width: 12.5rem;
                height: 3.125rem;
            }
        }
    }
}

.index-primera{
    grid-area: index1;
}
.index-segunda{
    grid-area: index2;
}
.index-tercera{
    grid-area: index3;    
}